/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2016-4-11, 19:15:24
    Author     : Bluewhale
*/
body{
    background-color: #fdfdf9;
}
.xinxi
{
	border: 1px #ededc6 solid;
    background-color: #faffeb;
    height: 110px;
    position: relative;
}
.cart_seller{
	border: 1px #ededc6 solid;
    background-color: #faffeb;
    height: 30px;
    margin-top: 5px;
    position: relative;
}
.seller_name{
	position: relative;
	top:5%;
    padding-left: 5px;
    font-family: "微软雅黑";
    color: #333333;
    font-size: 16px;
}
.cart_data{
    border: 1px #ededc6 solid;
    background-color: #faffeb;
    height: 110px;
    margin-top: 5px;
    position: relative;
}

.cart_data:active{
    background-color: #f9fbb9;
}

.dishpic{
    padding: 5px;
    height: 70px;
    width: 70px;
}
.di_name{
    position: absolute;
    padding-left: 5px;
	top:14px;
    font-family: "微软雅黑";
    color: #333333;
    font-size: 16px;
}
.di_al{
    position: absolute;
    top:44px;
    padding-left: 5px;
    font-size: 10px;
    color: #666;
    font-family: "微软雅黑";
}
.di_date{
    color: #666;
    position: absolute;
    top:60px;
    left: 85px;
    font-size: 10px;
    font-family: "微软雅黑";
}

.di_money{
    position: absolute;
    top:52px;
    left: 77%;
    font-size: 15px;
    padding-left: 10px;
    color: #666;
    font-family: "黑体";
}

.spf{
    position: absolute;
    top:5px;
    left: 30%;
    height: 20px;
}

.position img{
    margin-top: 8px;
    margin-left: 10px;
    height: 20px;
}

.position select {
  border:none;
  font-family: "黑体";
  font-size: 15px;
  position: fixed;
  top:50px;
  left: 41%;
  /*很关键：将默认的select选择框样式清除*/
  appearance:none;
  -moz-appearance:none;
  -webkit-appearance:none;

}

/*清除ie的默认选择框样式清除，隐藏下拉箭头*/
.position select::-ms-expand { display: none; }

.acpt_button{
    position: fixed;
    left: 81%;
    margin-top: 55px;
    
    background-color: #ffffff;
    text-align: center;
    border:1px #666 solid ;
    height: 23px;
    width: 55px;
    border-radius: 4px;  
    font-size: 10px;
    font-family: "黑体";
    color:  #666;
}
.acpt_button:focus{
    background-color: yellow;
}